html {
  height: 100%;
}

body {
  font-family: 'MedievalSharp', cursive;
  font-size: large;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("assets/dragon-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  color: white;
}

header { 
  background-color: rgb(32,8,33);
}

footer {
  position: fixed; bottom: 0; left: 0; right: 0;
  overflow: hidden;
  background-color: rgb(12,2,13);
}


.centerItems {
  text-align:center;
  justify-content: center;
  align-items: center;
}

.btnStyle {
  height:max-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgba(68, 68, 68, 0.452);
  border-width: 3px;
  border-style: outset;
  border-color: whitesmoke;
  font-size:large;
}

.cardStyle{
  height:max-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgba(68, 68, 68, 0.452);
  border-width: 3px;
  border-style: outset;
  border-color: whitesmoke;
  font-size:large;

}

.outline {
  color: black;
  font-weight: bold;
  text-align: center;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(36, 34, 34);
  background-color: rgba(241, 221, 181, 0.705);
  padding: 5px;
}

.whiteText {
  color: white;
  text-shadow: 1px 1px #000000;
  font-weight: bold;
}